@media screen
{
    *
    {
        margin: 0px;
        padding: 0px;
    }
    .bloco
    {
        position: relative;
        width: 1350px;
        margin: 0 auto;
        height: 1500px;
    }
}
